@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

div {
    border: 1px rgba(0, 0, 0, 0) solid;
}

.mainContainer {
    background-image: url(images/memoMe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.dashboardContainer {
    margin: 5rem 3rem;
    background: linear-gradient(to right bottom, rgba(180, 180, 180, 0.637), rgba(209, 209, 209, 0.479), rgba(101, 145, 158, 0.767));
    backdrop-filter: blur(1rem);
    border-radius: 20px;
    border: 2px solid white;
    height: 85ch;
}
.dashboardDiv{
    display: grid;
    grid-template-columns: 1fr 5fr 2.5fr;
    grid-template-rows: 1.5fr 10fr;
    height: 99.9%;
}

.sideBar {
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.205), rgba(255, 255, 255, 0.1));
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1px solid grey;
}   

.logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 99%;
    height: 100%;
}
.logo img {
    position: relative;
    bottom: 60px;
    width: 110px;
}
.logo > h5 {
    position: relative;
    bottom: 70px;
}

.icon {
    width: 25px;
    margin: 0 10px;
}

.navButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 0px 20px;
}
button {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 5px 0px;
    border: none;
    background: none;
    border-radius: 5px;
    transition: all 600ms ease;
}
button:hover {
    color: rgb(36, 50, 63);
    background-color: azure;
    border: none;
    margin-left: 15px;
    margin-right: -15px;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedback > img {
    width: 70px;
    transition: all 600ms ease;
}
.feedback > img:hover {
    width: 78px;
}

.settings {
    display: grid;
    margin: 0px 20px;
}
.settings > button {
    font-weight: bolder;
}

.topNav {
    grid-column: 2/4;
    margin: 2rem;
    display: flex;
    gap: 1rem;
}

.input {
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 1rem;
    padding: 5px 0px;
    outline: solid black 2px;
}
input{
    background: none;
    border: none;
}
input:focus {
    outline: none;
}

.currentPage {
    margin-right: auto;
}

.mainBody {
    display: grid;
    grid-template-rows: 1fr 2.3fr;
    height: 96%;
}

.cardDiv {
    display: flex;
    justify-content: space-around;
    margin-left: 3rem;
    width: 100%;
    height: 70%;
}
.card {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.61), rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0));
    border-radius: 0.5rem;
    border: none;
}
.cardDiv > div {
    width: 25%;
    border-radius: 0.5rem;
    transition: all 300ms ease;
    cursor: pointer;
}
.cardDiv > div:hover {
    box-shadow: 2px 2px 10px 1px rgba(129, 129, 129, 0.3);
    margin-bottom: -4px;
}

.card.recent {
    margin: 0px 3rem;
    padding: 0px 3rem;
    width: 100%;
    height: 100%;
}

.recentDiv {
    width: 90%;
}
caption {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 1rem 0px;
    font-weight: lighter;

}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 0.5rem;
}
th {
    color: white;
    background-color: rgb(100, 100, 100);
    padding-right: 2.5rem;
    text-align: left;
}
.card tr:nth-of-type(2n -1) {
    background-color: rgba(255, 255, 255, 0.315);
}
.card tr:hover {
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.74);
}

.status {
    color: rgb(0, 92, 5)
}

.card.pending {
    border: 2px solid rgb(134, 148, 212);
    background: linear-gradient(to bottom right, rgb(14, 37, 58),rgba(255, 255, 255, 0));
    height: 97%;
}
.card.approved {
    border: 2px solid lime;
    background: linear-gradient(to bottom right, rgb(0, 223, 0),rgba(255, 255, 255, 0));
    height: 97%;
}
.card.rejected {
    border: 2px solid rgb(255, 177, 60);
    background: linear-gradient(to bottom right, rgb(255, 166, 0),rgba(255, 255, 255, 0));
    height: 97%;

}

.card h5 {
    color: rgb(77, 77, 77);
    padding: 5px 7px;
    padding-bottom: 1px;
    font-weight: bolder;
}
.card h1 {
    font-size: 3rem;
    padding: 0px 7px;
    color: white;
}
.card.pending h5{
    color: rgba(255, 255, 255, 0.897);
}
.card.pending.bold h5 {
    color: rgba(255, 255, 255, 0.897);
    font-weight: lighter;
}
.card.pending h1 {
    padding: 0px 7px;
    color: white;
    font-size: 3rem;
}
h5.bold {
    color: rgb(85, 85, 85);
    font-weight: lighter;
}

.quickNav {
    display: grid;
    grid-template-rows: 1fr 3fr;
    margin: 0 4rem;
    margin-bottom: 3rem;
    border: solid rgba(255, 255, 255, 0.322) 1px;
    border-radius: 7px;
    height: 90%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
}
.profilePic {
    margin-top: 1rem;
    width: 5.5rem;
    height: 5.5rem;
    background-color: whitesmoke;
    border-radius: 50%;
}
.profilePic img {
    width: 5.5rem;
    border-radius: 50%;

}

.quickNav h4 {
    padding-top: 3.5rem;
    padding-left: 1.5rem;
    font-weight: normal;
}
.chat {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0.5rem 1.5rem;
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.568);
    height: 70%;
}

.chat > div {
    display: flex;
    flex-direction: column;
}
.bubble {
    font-size: 1rem;
    margin: 3px 4px;
    padding: 5px 4px;
    background-color: lightgreen;
    border-radius: 0.7rem;
}
.bubble.them{
    border-bottom-left-radius: 3px;
    padding: 5px 7px;
}
.chat > div > div .me {
    margin-left: auto;
    background-color: rgb(63, 217, 255);
    border-bottom-right-radius: 3px;
    padding: 5px 7px;
}